// khaki #BCA88E
// misty blue #E3E8E9
// celadon green #9AB19A
// rose water #E4B4B4

a {
	text-decoration: none !important; 
	color: black !important;
}

body {
	background-color: white;
	font-family: Arial,Helvetica, sans-serif !important;
}

.kelly-green {
	background-color: #BCA88E !important;
	h1 {
		font-weight: bold;
	}
}

.kelly {
	background-color: #E3E8E9;
	height: 100%;
}

.rose {
	background-color: #E4B4B4 !important;
}

.btn {
	background-color: #9AB19A !important;
	color: black !important;
	border: 1px solid black !important;
}

.pages {
	.row {
		background-color: #BCA88E;
		.button {
			padding: 8px 20px 8px 20px;
			border : 1px solid black;
			border-radius: 40px;	
			background-color: #9AB19A;
			color: black;			
		}
	}
}

.button {
	padding: 8px 20px 8px 20px;
	border : 1px solid white;
	border-radius: 40px;	
	background-color: #198754;
	color: white;
}

//#4DA167 #A2D729
.navbar{
	box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
	positon: fixed; 
	background-color: #9AB19A;
}

.sidebar {
	background: #BCA88E;
}

.content {
	background: #E3E8E9;
}

.nav-item {
	font-weight: 500;
}

.find-a-store {

}

.sign-in,
.join-now {
	padding-top: 10px;
	border : 1px solid black;
	border-radius: 40px;
	padding: 0px 20px 0px 20px;
	text-align: center;
}

.sign-in {
	background-color: #cedbce;
}

.join-now {
	background-color: #055816;
	.nav-link {
		color: white !important;	
	}
}

.join-now:hover {
	background-color: #729672;
}

.sign-in:hover {
	background-color: #729672;
}

// .home-section {
// 	min-height: 100vh;
// 	max-height: 100vh;
// 	i {
// 		min-height: 100vh !important;
// 		max-height: 100vh !important;
// 	}
// }


.img-thumbnail {
	width: 25% !important;
	margin: 10px;
	border-radius: 100px !important;
}

#receipt-container,
#cart-container {
	overflow-x: auto;
	table {
		background-color: white;
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;
		white-space: nowrap;
		thead {
			font-weight: 700;
			td {
				background-color: #BCA88E;
				color: white;
				border: none;
				padding: 6px 0;
			}
		}
		td {
			border: 1px solid;
			img {
				border-radius: 100px;
				object-fit: cover;
				height: 100px;
				width: 100px;				
			}
		}
	}
}

#receipt-container table td:nth-child(1){
	width: 10%
}

#receipt-container table td:nth-child(3){
	width: 20%
}

#cart-container table td:nth-child(1),
#cart-container table td:nth-child(5){
	width: 100px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(6){
	width: 150px;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:40%;
  top:10%;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}

.background {
	background-image: url("Putatan.jpeg");
	background-size: cover;
	height: 65vh;
}

.location-content {
	position: absolute;
	top: 45%;
	left: 11%;
	z-index: 2;
	width: 35%;
	background-color: #ffffff10;
	backdrop-filter: blur(15px);
	color: #fff;
	font-weight: bold;
	border: 15px
}