a {
	text-decoration: none !important; 
	color: black !important;
}

.home {
	font-family: Arial,Helvetica,sans-serif;
	.row-1 {
		background-color: #3BC14A;
	}
	.row-2 {
		background-color: #4DA167;
	}
	.row-3 {
		background-color: #198754;
	}
}
//#4DA167 #A2D729
.navbar{
	box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
	positon: fixed; 
}

.sidebar {
	background: grey;
}

.content {
	background: lightgreen;
}

.nav-item {
	font-weight: 500;
}

.find-a-store {

}

.sign-in,
.join-now {
	padding-top: 10px;
	border : 1px solid black;
	border-radius: 40px;
	padding: 0px 20px 0px 20px;
	text-align: center;
}

.join-now {
	background-color: black;
	.nav-link {
		color: white !important;	
	}
}

.join-now:hover {
	background-color: rgba(0,0,0,0.7);
}

.sign-in:hover {
	background-color: rgba(0,0,0,0.6);
}

// .home-section {
// 	min-height: 100vh;
// 	max-height: 100vh;
// 	i {
// 		min-height: 100vh !important;
// 		max-height: 100vh !important;
// 	}
// }

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.img-thumbnail {
	width: 25% !important;
	margin: 10px;
	border-radius: 100px !important;
}

#receipt-container,
#cart-container {
	overflow-x: auto;
	table {
		border-collapse: collapse;
		width: 100%;
		table-layout: fixed;
		white-space: nowrap;
		thead {
			font-weight: 700;
			td {
				background-color: #198754;
				color: white;
				border: none;
				padding: 6px 0;
			}
		}
		td {
			border: 1px solid;
			img {
				border-radius: 100px;
				object-fit: cover;
				height: 100px;
				width: 100px;				
			}
		}
	}
}

#receipt-container table td:nth-child(1){
	width: 10%
}

#receipt-container table td:nth-child(3){
	width: 20%
}

#cart-container table td:nth-child(1),
#cart-container table td:nth-child(5){
	width: 100px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(6){
	width: 150px;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:40%;
  top:10%;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
