- if @product.photos.attached?
	= image_tag @product.photos, height:200
br
= @product.name
br
span RM 
= @product.price
br
br

= form_tag(root_path, method: :get) do
	= number_field_tag 'quantity', min:1, max:10
	= hidden_field_tag 'product_id', value: @product.id
	= submit_tag 'Add to Cart'

= link_to 'Edit', edit_product_path(@product)